Repository roflsunriz/Enhandiy, changes with the labels that .github/labeler.yml gives for each.
All labels: area/config, area/api, area/frontend, area/database, area/docker, area/documentation, area/ci, area/security, area/release

fix(license): 2025年を2026年に更新
  LICENSE
  README.md
Labels: area/documentation

release: v4.5.0をリリース準備
  CHANGELOG.md
  README.md
  backend/config/config.php.example
  backend/routes/router.php
  backend/services/system-api-handler.php
  backend/views/index.php
  composer.lock
  docs/API.md
  docs/guide-important-changes.md
  frontend/package-lock.json
  frontend/package.json
  frontend/scripts/update-gallery-images.mjs
  image/bulk-delete.png
  image/cover.png
  image/delete-file.png
  image/edit-comment.png
  image/move-file.png
  image/replace-file.png
  image/share.png
  image/upload-form.png
Labels: area/config, area/frontend, area/documentation, area/security, area/release

ci: checkoutをv7へ更新
  .github/workflows/ci.yml
  .github/workflows/labeler.yml
  .github/workflows/pre-release-check.yml
  .github/workflows/release.yml
  .github/workflows/tag-and-release.yml
Labels: area/ci

chore(frontend): @humanfs/nodeを0.16.6から0.16.8へ更新
  frontend/package-lock.json
Labels: none

fix(security): 脆弱なjs-yamlを4.3.2へ更新
  CHANGELOG.md
  frontend/package-lock.json
Labels: area/documentation, area/release

feat(dependabot): 依存更新PRの自動処理を設定
  .github/dependabot.yml
  .github/workflows/dependabot-automation.yml
  CHANGELOG.md
  README.md
  how-to-update.md
  verification.md
Labels: area/documentation, area/ci, area/release

fix(dependabot): 分類遅延したPRを再評価
  .github/workflows/dependabot-automation.yml
  CHANGELOG.md
  how-to-update.md
  verification.md
Labels: area/documentation, area/ci, area/release

fix: Dependabot PRのラベルと文書検査を修正する
  .github/workflows/labeler.yml
  CHANGELOG.md
  README.md
  verification.md
Labels: area/documentation, area/ci, area/release

.github/labeler.yml:

# 設定ファイル関連
"area/config":
  - backend/config/**/*
  - "config.php.example"

# API関連
"area/api":
  - backend/api/**/*

# UI/フロントエンド関連
"area/frontend":
  - backend/views/**/*
  - frontend/src/**/*
  - frontend/asset/**/*

# データベース関連
"area/database":
  - backend/models/**/*
  - db/**/*

# Docker関連
"area/docker":
  - infrastructure/docker/**/*
  - infrastructure/docker-compose.yaml
  - infrastructure/Dockerfile

# ドキュメント関連
"area/documentation":
  - "*.md"
  - docs/**/*

# CI/CD関連
"area/ci":
  - .github/**/*

# セキュリティ関連
"area/security":
  - backend/config/**/*
  - backend/api/verify*

# リリース関連
"area/release":
  - infrastructure/scripts/release.*
  - composer.json
  - CHANGELOG.md
