Repository roflsunriz/Enhandiy, changes with the labels that .github/labeler.yml gives for each.
All labels: area/config, area/api, area/frontend, area/database, area/docker, area/documentation, area/ci, area/security, area/release

.github/labeler.yml:

# 設定ファイル関連
"area/config":
  - backend/config/**/*
  - "config.php.example"

# API関連
"area/api":
  - backend/api/**/*

# UI/フロントエンド関連
"area/frontend":
  - backend/views/**/*
  - frontend/src/**/*
  - frontend/asset/**/*

# データベース関連
"area/database":
  - backend/models/**/*
  - db/**/*

# Docker関連
"area/docker":
  - infrastructure/docker/**/*
  - infrastructure/docker-compose.yaml
  - infrastructure/Dockerfile

# ドキュメント関連
"area/documentation":
  - "*.md"
  - docs/**/*

# CI/CD関連
"area/ci":
  - .github/**/*

# セキュリティ関連
"area/security":
  - backend/config/**/*
  - backend/api/verify*

# リリース関連
"area/release":
  - infrastructure/scripts/release.*
  - composer.json
  - CHANGELOG.md

fix: ルートリンクで ?folder= が残らないようにしました。
  backend/public/assets/file-manager.js
  backend/public/assets/folder-manager.js
  backend/views/folder-navigation.php
  frontend/src/components/file-manager-core.ts
  frontend/src/features/folder-manager.ts
Labels: area/frontend

release: phpUploaderをv4.3.7-roflsunrizに更新し、フォルダのルートに戻ったときに?folder=が残らないように修正。また、READMEと設定ファイルのバージョンを更新し、全体的な整合性を向上させた。
  CHANGELOG.md
  README.md
  backend/config/config.php.example
  backend/routes/router.php
  backend/services/system-api-handler.php
  backend/views/index.php
Labels: area/config, area/frontend, area/documentation, area/security, area/release

release: リリースボディの生成を改善し、最近の変更を5件表示するように更新。また、CHANGELOG.mdから最新の3セクションを追加する機能を追加し、インストール手順の整形を行った。
  .github/workflows/release.yml
Labels: area/ci

chore: カバー画像を更新
  image/cover.png
Labels: none

docs: URL間違いを修正
  README.md
  docs/RELEASE_NOTES_v4.3.0-roflsunriz.md
Labels: area/documentation

fix: `PHP Uploader`→`Enhandiy`
  backend/config/config.php.example
  backend/public/index.php
  frontend/assets/styles/responsive.css
  infrastructure/scripts/dev-server.bat
Labels: area/config, area/security

release: リリースボディの生成から不要な部分を削除し、変更履歴の追加処理を簡素化した。
  .github/workflows/release.yml
Labels: area/ci

release: リリースボディの生成処理を改善し、変更履歴の追加を簡素化した。リリースボディの作成をより効率的に行えるように修正した。
  .github/workflows/release.yml
Labels: area/ci

release: インストール手順を更新し、管理者マスターキーや暗号化キーの設定を明確化。また、APIルーティングの設定手順を追加した。
  .github/workflows/release.yml
Labels: area/ci

docs: READMEに新しい画像を追加し、ファイル操作に関する視覚的な説明を強化した。
  README.md
  image/bulk-delete.png
  image/delete-file.png
  image/edit-comment.png
  image/move-file.png
  image/replace-file.png
  image/share.png
Labels: area/documentation

docs: READMEから画像を削除し、ギャラリーを新しいドキュメントに移動して視覚的な説明を整理した。
  README.md
  docs/gallery.md
Labels: area/documentation

docs: READMEにギャラリーへのリンクを追加し、ドキュメントインデックスを更新した。
  README.md
Labels: area/documentation

docs: ドキュメントを更新し正確性を向上した
  CHANGELOG.md
  README.md
  docs/API.md
  docs/GITHUB_ACTIONS_GUIDE.md
  docs/gallery.md
  docs/guide-database-and-migration.md
  docs/guide-development.md
  docs/guide-important-changes.md
  docs/guide-installation.md
  docs/guide-overview.md
  docs/guide-security.md
Labels: area/documentation, area/release

release: バージョン4.3.8への更新。ドラッグ・アンド・ドロップエリアのコンパクト化とAPIバージョンの更新、グリッド表示のメタデータアイコン化を含む。
  CHANGELOG.md
  backend/config/config.php.example
  backend/public/assets/bootstrap.js
  backend/public/assets/dragdrop.css
  backend/public/assets/error-handling.js
  backend/public/assets/file-manager.js
  backend/routes/router.php
  backend/services/system-api-handler.php
  backend/views/index.php
  backend/views/upload-form.php
  frontend/assets/styles/dragdrop.css
  frontend/src/components/file-manager-renderer.ts
  frontend/src/features/drag-drop.ts
  frontend/src/utils/icons.ts
Labels: area/config, area/frontend, area/documentation, area/security, area/release

release: バージョン4.3.9への更新。アップロードフォームのスタイル調整と新しいプログレスバーを追加し、APIバージョンを更新した。
  CHANGELOG.md
  backend/config/config.php.example
  backend/public/assets/bootstrap.js
  backend/public/assets/drag-drop.js
  backend/public/assets/dragdrop.css
  backend/public/assets/error-handling.js
  backend/public/assets/resumable-upload.js
  backend/routes/router.php
  backend/services/system-api-handler.php
  backend/views/index.php
  backend/views/upload-form.php
  frontend/assets/styles/dragdrop.css
  frontend/src/features/drag-drop.ts
  frontend/src/features/resumable-upload.ts
  frontend/src/types/upload.ts
  frontend/src/utils/icons.ts
Labels: area/config, area/frontend, area/documentation, area/security, area/release

refactor: スクリプトのエラーハンドリングを強化し、作業ディレクトリを動的に設定するように変更。
  scripts/build.ps1
  scripts/delete-1.ps1
  scripts/delete-2.ps1
  scripts/delete-3.ps1
  scripts/docker-down.ps1
  scripts/docker-run.ps1
  scripts/lint.ps1
  scripts/run-e2e.ps1
  scripts/up-and-down-1.ps1
  scripts/up-and-down-2.ps1
Labels: none

docs: 新しいAGENTS.mdファイルを追加し、エージェントに対するグローバル指示を明確化した。
  AGENTS.md
Labels: area/documentation

docs: AGENTS.mdに環境設定に関する詳細を追加し、ファイル構成を明確化した。
  AGENTS.md
Labels: area/documentation

feat: E2Eテストの遅延処理を共通化するヘルパーを追加し、各テストでの遅延を調整した。また、ファイルマネージャーの表示に関する修正を行った。
  frontend/src/components/file-manager-renderer.ts
  frontend/tests-e2e/cleanup.spec.ts
  frontend/tests-e2e/delete.spec.ts
  frontend/tests-e2e/edit-and-replace.spec.ts
  frontend/tests-e2e/folders.spec.ts
  frontend/tests-e2e/helpers/delay.ts
  frontend/tests-e2e/share.spec.ts
  frontend/tests-e2e/smoke.spec.ts
  frontend/tests-e2e/upload-and-download.spec.ts
  scripts/delete-1.ps1
  scripts/delete-2.ps1
  scripts/delete-3.ps1
  scripts/run-e2e.ps1
  scripts/up-and-down-1.ps1
  scripts/up-and-down-2.ps1
  scripts/up-and-down-3.ps1
  test-results/.last-run.json
Labels: area/frontend

docs: README.mdのフルチェンジログリンクをバージョン4.3.9に更新した。
  README.md
Labels: area/documentation

fix: .gitignoreにtest-resultsディレクトリを追加し、不要な.last-run.jsonファイルを削除した。
  .gitignore
  test-results/.last-run.json
Labels: none

fix: ファイル差し替え後ダウンロード時HTMLになってしまうバグを修正しました。
  .gitignore
  .playwright-mcp/page-2025-08-24T14-37-46-434Z.png
  backend/api/replace-file.php
  backend/services/file-api-handler.php
Labels: area/api

chore: バージョンを4.4.0に更新
  README.md
  backend/config/config.php.example
  backend/routes/router.php
  backend/services/system-api-handler.php
  backend/views/index.php
Labels: area/config, area/frontend, area/documentation, area/security

fix: CHANGELOG.mdにバージョン4.4.0の修正内容を追加し、ファイル差し替え後のダウンロードバグを修正したことを記載
  CHANGELOG.md
Labels: area/documentation, area/release

fix: 更新されたconfig.php.exampleファイルにおいて、マスターキー、暗号化キー、セッションソルトの変更要件を明確化（文字数の指定を追加）
  backend/config/config.php.example
Labels: area/config, area/security

release: v4.4.1 - ファイルAPI認証不要化とリリースノート一本化
  .github/workflows/pre-release-check.yml
  .github/workflows/release.yml
  CHANGELOG.md
  backend/api/upload.php
  backend/config/config.php.example
  backend/routes/router.php
  backend/services/system-api-handler.php
  backend/views/index.php
  docs/API.md
  docs/GITHUB_ACTIONS_GUIDE.md
  docs/RELEASE_NOTES_v4.3.0-roflsunriz.md
  docs/guide-development.md
  frontend/package-lock.json
  frontend/package.json
  how-to-update.md
Labels: area/config, area/api, area/frontend, area/documentation, area/ci, area/security, area/release

feat: CLAUDE.mdへのシンボリックリンクを作成するスクリプトを追加
  .gitignore
  scripts/create-claude-link.ps1
Labels: none

docs: 共通AGENTS導線を追加
  .gitignore
  AGENTS.md
Labels: area/documentation

fix(security): 依存脆弱性を解消し共通指針ゲートを追加
  AGENTS.md
  CHANGELOG.md
  backend/public/assets/api-client.js
  backend/public/assets/bootstrap.js
  backend/public/assets/common.css
  backend/public/assets/drag-drop.js
  backend/public/assets/dragdrop.css
  backend/public/assets/error-handling.js
  backend/public/assets/file-edit.js
  backend/public/assets/file-manager-css.css
  backend/public/assets/file-manager.js
  backend/public/assets/folder-manager.js
  backend/public/assets/folders.css
  backend/public/assets/http.js
  backend/public/assets/main.js
  backend/public/assets/modal.js
  backend/public/assets/responsive-extra.css
  backend/public/assets/responsive.css
  backend/public/assets/resumable-upload.js
  backend/public/assets/share.js
  frontend/package-lock.json
  frontend/package.json
Labels: area/documentation, area/release

feat(ui): 全画面をFluent Designへ刷新
  CHANGELOG.md
  backend/public/assets/file-manager-css.css
  backend/public/assets/fluent-content.css
  backend/public/assets/fluent-responsive.css
  backend/public/assets/fluent.css
  backend/public/assets/main.js
  backend/views/file-manager.php
  backend/views/folder-navigation.php
  backend/views/header.php
  backend/views/index.php
  frontend/assets/styles/file-manager.css
  frontend/assets/styles/fluent-content.css
  frontend/assets/styles/fluent-responsive.css
  frontend/assets/styles/fluent.css
  frontend/src/components/file-manager-renderer.ts
  frontend/tests-e2e/ui-modernization.spec.ts
  frontend/vite.config.ts
Labels: area/frontend, area/documentation, area/release

fix(db): 削除時のSQLiteロック競合を解消
  backend/api/auth.php
  backend/api/bulk-delete.php
  backend/models/init.php
  backend/public/delete.php
  backend/public/download.php
  backend/services/file-api-handler.php
  backend/services/folder-api-handler.php
  frontend/playwright.config.ts
  frontend/tests-e2e/cleanup.spec.ts
  frontend/tests-e2e/share.spec.ts
Labels: area/api, area/database

feat(ui): ファイル管理を統合ワークスペース化
  CHANGELOG.md
  backend/public/assets/drag-drop.js
  backend/public/assets/folder-manager.js
  backend/public/assets/main.js
  backend/public/assets/workspace.css
  backend/views/file-manager.php
  backend/views/folder-navigation.php
  backend/views/header.php
  backend/views/icons.php
  backend/views/index.php
  docs/guide-overview.md
  frontend/assets/styles/workspace.css
  frontend/src/components/file-manager-renderer.ts
  frontend/src/features/drag-drop.ts
  frontend/src/features/folder-manager.ts
  frontend/src/types/global.ts
  frontend/tests-e2e/folders.spec.ts
  frontend/tests-e2e/ui-modernization.spec.ts
  frontend/vite.config.ts
Labels: area/frontend, area/documentation, area/release

fix(ui): リスト表示のフォルダー行崩れを修正
  CHANGELOG.md
  backend/public/assets/main.js
  frontend/src/components/file-manager-renderer.ts
  frontend/tests-e2e/ui-modernization.spec.ts
Labels: area/frontend, area/documentation, area/release

feat(ui): リストのフォルダ操作を直接表示
  CHANGELOG.md
  backend/public/assets/main.js
  backend/public/assets/workspace.css
  frontend/assets/styles/workspace.css
  frontend/src/components/file-manager-renderer.ts
  frontend/tests-e2e/ui-modernization.spec.ts
Labels: area/frontend, area/documentation, area/release

feat(ui): 長文でも崩れないファイルカードへ改善
  CHANGELOG.md
  backend/public/assets/main.js
  backend/public/assets/workspace.css
  frontend/assets/styles/workspace.css
  frontend/src/components/file-manager-renderer.ts
  frontend/tests-e2e/ui-modernization.spec.ts
Labels: area/frontend, area/documentation, area/release

test(e2e): 実行前後にテストデータを削除
  CHANGELOG.md
  frontend/playwright.config.ts
  frontend/tests-e2e/cleanup.spec.ts
  frontend/tests-e2e/global-setup.ts
  frontend/tests-e2e/helpers/cleanup-test-data.ts
Labels: area/documentation, area/release

feat(config): ブラウザのタブタイトルを設定可能にする
  .github/workflows/ci.yml
  CHANGELOG.md
  backend/config/config.php.example
  backend/views/header.php
  composer.json
  docs/guide-configuration.md
  infrastructure/scripts/test-browser-title.php
Labels: area/config, area/frontend, area/documentation, area/ci, area/security, area/release

feat(dev): Docker操作用Java GUIを追加
  .gitattributes
  .gitignore
  CHANGELOG.md
  README.md
  docs/guide-docker.md
  scripts/DockerController.java
  scripts/DockerManager.java
  scripts/build.ps1
  scripts/create-claude-link.ps1
  scripts/delete-1.ps1
  scripts/delete-2.ps1
  scripts/delete-3.ps1
  scripts/docker-down.ps1
  scripts/docker-manager.cmd
  scripts/docker-run.ps1
  scripts/i18n/DockerManagerMessages.properties
  scripts/i18n/DockerManagerMessages_ja.properties
  scripts/lint.ps1
  scripts/report.ps1
  scripts/run-e2e.ps1
  scripts/up-and-down-1.ps1
  scripts/up-and-down-2.ps1
  scripts/up-and-down-3.ps1
Labels: area/documentation, area/release

docs(images): カバーと操作ギャラリーを最新化
  CHANGELOG.md
  docs/gallery.md
  frontend/package.json
  frontend/scripts/update-gallery-images.mjs
  image/bulk-delete.png
  image/cover.png
  image/delete-file.png
  image/edit-comment.png
  image/move-file.png
  image/replace-file.png
  image/share.png
  image/upload-form.png
Labels: area/documentation, area/release

feat(docker): ポートを37555に変更
  infrastructure/docker-compose.yaml
Labels: area/docker
