Repository roflsunriz/Enhandiy, changes with the labels that .github/labeler.yml gives for each.
All labels: area/config, area/api, area/frontend, area/database, area/docker, area/documentation, area/ci, area/security, area/release

.github/labeler.yml:

# 設定ファイル関連
"area/config":
  - backend/config/**/*
  - "config.php.example"

# API関連
"area/api":
  - backend/api/**/*

# UI/フロントエンド関連
"area/frontend":
  - backend/views/**/*
  - frontend/src/**/*
  - frontend/asset/**/*

# データベース関連
"area/database":
  - backend/models/**/*
  - db/**/*

# Docker関連
"area/docker":
  - infrastructure/docker/**/*
  - infrastructure/docker-compose.yaml
  - infrastructure/Dockerfile

# ドキュメント関連
"area/documentation":
  - "*.md"
  - docs/**/*

# CI/CD関連
"area/ci":
  - .github/**/*

# セキュリティ関連
"area/security":
  - backend/config/**/*
  - backend/api/verify*

# リリース関連
"area/release":
  - infrastructure/scripts/release.*
  - composer.json
  - CHANGELOG.md

feat: アップローダの説明情報を設定可能にし、表示機能を追加
  backend/config/config.php.example
  backend/views/index.php
Labels: area/config, area/frontend, area/security

fix: 選択ファイル表示のスタイルを修正
  backend/views/upload-form.php
Labels: area/frontend

バージョンをv4.2.2-roflsunrizに更新し、選択ファイル表示の問題を修正
  CHANGELOG.md
  README.md
  backend/config/config.php.example
  backend/routes/router.php
  backend/services/system-api-handler.php
Labels: area/config, area/documentation, area/security, area/release

feat: TUSアップロード時にもstored_file_name, file_hash, ip_addressが保存されるように改良。未保存のstored_file_nameはinit時に自動バックフィル（非破壊）。
  backend/api/tus-upload.php
  backend/models/init.php
  backend/scripts/backfill_stored_file_name.php
Labels: area/api, area/database

fix: 更新ボタンのスタイルをグリッド・リスト切り替えと合わせた
  frontend/assets/styles/file-manager.css
  frontend/dist/file-manager-css.css
Labels: none

バージョンをv4.2.3-roflsunrizに更新
  CHANGELOG.md
  README.md
  backend/routes/router.php
  backend/services/system-api-handler.php
Labels: area/documentation, area/release

docs: README.mdにアップロードフォームの画像を追加し、カバー画像を更新
  README.md
  image/cover.png
  image/upload-form.png
Labels: area/documentation

docs: CHANGELOG.mdにアップロードモーダル起動ボタンの追加と表示方法の変更を反映
  CHANGELOG.md
Labels: area/documentation, area/release

chore: サーバーログの日本語がUTF-8エンコードで読めないため英語に統一。また、dockerのファイルを編集しmbstringとserver nameのsupress warning対応
  backend/api/auth.php
  backend/api/bulk-delete.php
  backend/api/edit-comment.php
  backend/api/folders.php
  backend/api/move-file.php
  backend/api/move-files.php
  backend/api/refresh-files.php
  backend/api/replace-file.php
  backend/api/response.php
  backend/api/simple-files.php
  backend/api/tus-upload.php
  backend/api/upload.php
  backend/api/verifydelete.php
  backend/api/verifydownload.php
  backend/core/security.php
  backend/models/init.php
  backend/routes/router.php
  backend/services/file-api-handler.php
  backend/services/folder-api-handler.php
  backend/services/system-api-handler.php
  infrastructure/docker/Dockerfile
  infrastructure/docker/apache/servername.conf
  infrastructure/docker/php/php.ini
Labels: area/api, area/database, area/docker, area/security

バージョンをv4.2.4-roflsunrizに更新し、CHANGELOG.mdにサーバーログの日本語を英語に統一した内容を追加。README.md、config.php.example、router.php、system-api-handler.phpのバージョン情報もv4.2.4に更新。
  CHANGELOG.md
  README.md
  backend/config/config.php.example
  backend/routes/router.php
  backend/services/system-api-handler.php
Labels: area/config, area/documentation, area/security, area/release

Create LICENSE
  LICENSE
Labels: none

MIT-LICENSE.txtを削除しLICENSEに移行
  MIT-LICENSE.txt
Labels: none

README.mdにあった古い設定値を削除し、config.php.exampleと整合させた。
  README.md
Labels: area/documentation

README.mdの画像パスをリポジトリ内の相対パスに修正し簡略化。
  README.md
Labels: area/documentation

chore: playwrightによるテストを実装
  .gitignore
  frontend/package-lock.json
  frontend/package.json
  frontend/playwright.config.ts
  frontend/tests-e2e/delete.spec.ts
  frontend/tests-e2e/edit-and-replace.spec.ts
  frontend/tests-e2e/folders.spec.ts
  frontend/tests-e2e/share.spec.ts
  frontend/tests-e2e/smoke.spec.ts
  frontend/tests-e2e/upload-and-download.spec.ts
  scripts/run-e2e.ps1
Labels: none

fix: 初期化処理を修正, db, data, storage/logフォルダが無い場合にシステムエラーになってしまうのでフォルダ作成処理を優先
  backend/api/index.php
  backend/api/upload.php
  backend/public/index.php
Labels: area/api

chore: バージョンをv4.2.5-roflsunrizに更新し、CHANGELOG.mdに初期化処理の修正内容を追加。README.md、config.php.example、router.php、system-api-handler.phpのバージョン情報もv4.2.5に更新。
  CHANGELOG.md
  README.md
  backend/config/config.php.example
  backend/routes/router.php
  backend/services/system-api-handler.php
Labels: area/config, area/documentation, area/security, area/release

feat: システムエラー時解決のためのアクションが表示されるよう改良
  backend/core/error-hints.php
  backend/core/response-handler.php
  backend/public/index.php
  frontend/src/api/client.ts
  frontend/src/types/api.ts
  frontend/src/utils/http.ts
  scripts/run-e2e.ps1
Labels: area/frontend

fix: backend/public/index.phpからのAPIアクセスで404エラーになる問題に対処
  backend/public/api/auth.php
  backend/public/api/bulk-delete.php
  backend/public/api/download.php
  backend/public/api/edit-comment.php
  backend/public/api/folders.php
  backend/public/api/generatesharelink.php
  backend/public/api/index.php
  backend/public/api/move-file.php
  backend/public/api/move-files.php
  backend/public/api/refresh-files.php
  backend/public/api/replace-file.php
  backend/public/api/response.php
  backend/public/api/simple-files.php
  backend/public/api/tus-cleanup.php
  backend/public/api/tus-upload.php
  backend/public/api/upload.php
  backend/public/api/verifydelete.php
  backend/public/api/verifydownload.php
  infrastructure/docker/apache/000-default.conf
  scripts/run-e2e.ps1
Labels: area/docker

chore: バージョンをv4.2.6に更新
  CHANGELOG.md
  README.md
  backend/config/config.php.example
  backend/routes/router.php
  backend/services/system-api-handler.php
Labels: area/config, area/documentation, area/security, area/release

docs: v4.3.0のリリースノートを更新
  docs/RELEASE_NOTES_v4.3.0-roflsunriz.md
Labels: area/documentation

chore: e2e-test(未解決)
  frontend/package-lock.json
  frontend/package.json
  frontend/tests-e2e/delete.spec.ts
  frontend/tests-e2e/edit-and-replace.spec.ts
  frontend/tests-e2e/folders.spec.ts
  frontend/tests-e2e/upload-and-download.spec.ts
  scripts/build.ps1
  scripts/delete-1.ps1
  scripts/delete-2.ps1
  scripts/delete-3.ps1
  scripts/docker-down.ps1
  scripts/docker-run.ps1
  scripts/lint.ps1
  scripts/report.ps1
  scripts/run-e2e.ps1
  scripts/up-and-down-1.ps1
  scripts/up-and-down-2.ps1
Labels: none

fix: JSON空レスポンスエラーキャッチ堅牢化
  backend/api/upload.php
  backend/public/assets/resumable-upload.js
  frontend/src/features/resumable-upload.ts
  scripts/build.ps1
Labels: area/api, area/frontend

fix: TUSエンドポイントの修正, 必要なヘッダーを返すようにした
  backend/api/index.php
  backend/api/tus-upload.php
  backend/config/config.php.example
  backend/routes/router.php
  backend/services/system-api-handler.php
  backend/views/index.php
Labels: area/config, area/api, area/frontend, area/security

fix: tus-upload.phpのLocationヘッダー生成不具合を修正し、resumeable-upload.tsのエラーキャッチを堅牢化
  CHANGELOG.md
Labels: area/documentation, area/release

fix: TUSエンドポイントのOPTIONSリクエスト対応を改善し、ファイルサイズ制限の設定を堅牢化
  backend/api/index.php
  backend/api/tus-upload.php
  backend/public/assets/resumable-upload.js
Labels: area/api

chore: 危険な拡張子検証などを削除（config.phpで設定するため）
  frontend/src/api/client.ts
Labels: area/frontend

fix: config.phpのインクルードパスを修正し、相対パスから絶対パスに変更
  backend/api/folders.php
  backend/api/generatesharelink.php
  backend/api/move-file.php
  backend/api/move-files.php
  backend/scripts/migrate-folders.php
  backend/scripts/migrate.php
Labels: area/api

docs: phpUploader RESTful API ドキュメントを v4.3.1 に更新し、APIエンドポイントの詳細を追加。UI-CSRF認証やTUS APIの説明を明記し、Apache/Nginxのルーティング設定例を追加。
  docs/API.md
  infrastructure/docker/apache/000-default.conf
Labels: area/docker, area/documentation

release: phpUploaderをv4.3.2-roflsunrizに更新し、APIドキュメントの修正とエラーハンドリングの改善を実施。新たにAPIのバージョンを4.3.2に変更し、必要なPHP拡張を明記。さらに、APIリクエストにおける新しいパラメータを追加。
  CHANGELOG.md
  README.md
  backend/api/index.php
  backend/config/config.php.example
  backend/routes/router.php
  backend/services/system-api-handler.php
  backend/views/index.php
  docs/API.md
Labels: area/config, area/api, area/frontend, area/documentation, area/security, area/release

docs: READMEをインデックス化し、機能概要を簡潔にまとめ、詳細なドキュメントへのリンクを追加。新たに設定ガイド、データベースとマイグレーション、開発手順、Dockerクイックスタート、重要な変更点に関するドキュメントを追加。
  README.md
  docs/guide-configuration.md
  docs/guide-database-and-migration.md
  docs/guide-development.md
  docs/guide-docker.md
  docs/guide-important-changes.md
  docs/guide-installation.md
  docs/guide-overview.md
  docs/guide-security.md
Labels: area/documentation

docs: READMEのリンクをMarkdown形式に修正
  README.md
Labels: area/documentation

fix: ユーザー向けメッセージを改善し、ダウンロードキーのエラーメッセージとシステムエラーのヒントをより丁寧な表現に修正。また、ドキュメントルートの設定に関する重要な注意事項を追加。
  backend/public/download.php
  backend/public/index.php
  docs/guide-installation.md
Labels: area/documentation

release: phpUploaderをv4.3.3-roflsunrizに更新し、パスワードハッシュ化関数をArgon2IDからBCRYPTに変更。既存のパスワードは検証失敗するため、データベースとデータの再アップロードを推奨。また、関連するドキュメントを更新。
  CHANGELOG.md
  README.md
  backend/config/config.php.example
  backend/core/security.php
  backend/routes/router.php
  backend/services/system-api-handler.php
  backend/views/index.php
Labels: area/config, area/frontend, area/documentation, area/security, area/release

release: phpUploaderをv4.3.4-roflsunrizに更新し、共有モーダルのアイコンをマテリアルアイコンに変更、一貫性を高めた。また、アップローダ情報を拡張し、複数のURLを指定可能にした。関連するエラーを修正し、全体的なデザインの整合性を向上させた。
  CHANGELOG.md
  README.md
  backend/config/config.php.example
  backend/public/assets/common.css
  backend/public/assets/drag-drop.js
  backend/public/assets/share-css.css
  backend/routes/router.php
  backend/services/system-api-handler.php
  backend/views/icons.php
  backend/views/index.php
  backend/views/modals.php
  frontend/assets/styles/common.css
  frontend/assets/styles/share.css
  frontend/src/features/drag-drop.ts
Labels: area/config, area/frontend, area/documentation, area/security, area/release

fix: #shareUrlを#shareUrlTextFieldに変更(display:noneを逃れるため)
  backend/public/assets/file-edit.js
  backend/public/assets/share-css.css
  backend/public/assets/share.js
  backend/views/modals.php
  frontend/assets/styles/share.css
  frontend/src/features/file-edit.ts
  frontend/src/features/share.ts
  frontend/tests-e2e/share.spec.ts
Labels: area/frontend

release: phpUploaderをv4.3.5-roflsunrizに更新し、共有モーダルのテキストエリアIDを変更し、APIのCSRFトークン取得方法を改善。また、READMEと設定ファイルのバージョンを更新し、全体的な整合性を向上させた。
  CHANGELOG.md
  README.md
  backend/api/auth.php
  backend/config/config.php.example
  backend/routes/router.php
  backend/services/system-api-handler.php
  backend/views/index.php
Labels: area/config, area/api, area/frontend, area/documentation, area/security, area/release

docs: READMEのリリースリンクをMarkdown形式に変更し、可読性を向上させた。
  README.md
Labels: area/documentation

docs: READMEのライセンスリンクとフルチェンジログリンクを更新し、最新の情報に整合させた。
  README.md
Labels: area/documentation

release: phpUploaderをv4.3.6-roflsunrizに更新し、共有URLの表示を修正。また、READMEと設定ファイルのバージョンを更新し、全体的な整合性を向上させた。
  CHANGELOG.md
  README.md
  backend/config/config.php.example
  backend/routes/router.php
  backend/services/system-api-handler.php
  backend/views/index.php
Labels: area/config, area/frontend, area/documentation, area/security, area/release
