Repository roflsunriz/Enhandiy, changes with the labels that .github/labeler.yml gives for each.
All labels: area/config, area/api, area/frontend, area/database, area/docker, area/documentation, area/ci, area/security, area/release

Release v4.0.0-roflsunriz: 大規模なフォルダー構造整理とAPIテスト完了
  CHANGELOG.md
  README.md
  backend/api/data/rate_limits/6e887a559c0d514c244a6fd33f10c3e4.json
  composer.json
  docs/API.md
  docs/RELEASE_NOTES_v4.0.0-roflsunriz.md
Labels: area/api, area/documentation, area/release

fix: レート制限ファイルの保存場所をルート直下のdataフォルダに修正
  backend/api/auth.php
Labels: area/api

fix: 不要なレート制限ファイルを削除
  backend/api/data/rate_limits/6e887a559c0d514c244a6fd33f10c3e4.json
Labels: area/api

fix: フッターのバージョン表示を正しく表示するように修正
  backend/config/config.php.example
Labels: area/config, area/security

Release v4.0.1: APIバージョンの更新とフロントエンドのバージョン修正
  backend/routes/router.php
  backend/services/system-api-handler.php
  backend/views/index.php
  frontend/package-lock.json
  frontend/package.json
Labels: area/frontend

Release v4.0.2-roflsunriz: ファイルダウンロードAPIの追加とバージョン更新
  CHANGELOG.md
  README.md
  backend/config/config.php.example
  backend/routes/router.php
  backend/services/file-api-handler.php
  backend/services/system-api-handler.php
  docs/API.md
  frontend/package-lock.json
  frontend/package.json
Labels: area/config, area/documentation, area/security, area/release

feat: delkey_requiredの設定を廃止し、セキュリティ強化。システムレベルで常に削除キーを強制するようになった。
  backend/api/tus-upload.php
  backend/api/upload.php
  backend/api/verifydelete.php
  backend/config/config.php.example
  frontend/dist/drag-drop.js
  frontend/dist/resumable-upload.js
  frontend/src/features/drag-drop.ts
  frontend/src/features/resumable-upload.ts
Labels: area/config, area/api, area/frontend, area/security

fix: ディレクトリ設定のパスをアプリケーションルートに基づくよう修正
  backend/config/config.php.example
Labels: area/config, area/security

Release v4.0.3-roflsunriz: 削除キーの設定を廃止し、システムレベルで常に必須に変更
  CHANGELOG.md
  README.md
  docs/RELEASE_NOTES_v4.0.3-roflsunriz.md
Labels: area/documentation, area/release

feat: 自動マイグレーション機能を追加し、レガシーデータの移行をサポート
  backend/models/init.php
Labels: area/database

Release v4.0.4-roflsunriz: データベースのマイグレーション処理を改善し、v1.x系からの移行をサポート
  CHANGELOG.md
  README.md
  backend/models/init.php
  docs/RELEASE_NOTES_v4.0.3-roflsunriz.md
  docs/RELEASE_NOTES_v4.0.4-roflsunriz.md
Labels: area/database, area/documentation, area/release

fix: インデックス作成の順序を修正し、データ移行後に実行するように変更
  backend/models/init.php
Labels: area/database

docs: コンソールからのタグ作成とリリース、タグ削除方法を追加
  docs/GITHUB_ACTIONS_GUIDE.md
Labels: area/documentation

docs: README.mdの内容を更新し、設定ファイルのパスやセキュリティ設定に関する情報を修正
  README.md
Labels: area/documentation

feat: アップロード拡張子ポリシーを実装し、拡張子チェックを強化
  backend/api/replace-file.php
  backend/api/tus-upload.php
  backend/api/upload.php
  backend/config/config.php.example
  backend/core/security.php
  backend/services/file-api-handler.php
Labels: area/config, area/api, area/security

feat: アップロードフォームに拡張子ポリシーの表示ロジックを追加
  backend/views/upload-form.php
Labels: area/frontend

feat: アップロードセクションをモーダルに変更 - その他UI調整(フォルダマネージャタイトル削除)
  backend/api/tus-upload.php
  backend/core/security.php
  backend/services/file-api-handler.php
  backend/views/folder-navigation.php
  backend/views/index.php
  backend/views/modals.php
  backend/views/upload-form.php
Labels: area/api, area/frontend

fix: ファイルアップロード時に前回キューが残るバグを修正。アップロード完了時モーダルを閉じるようにした。失敗時は閉じずにトースト通知。
  frontend/dist/bootstrap.js
  frontend/dist/resumable-upload.js
  frontend/src/features/resumable-upload.ts
Labels: area/frontend

chore: phpインラインスタイルをcssファイルに分離して責任を明確化
  backend/views/error-display.php
  backend/views/folder-navigation.php
  backend/views/index.php
  backend/views/modals.php
  backend/views/upload-form.php
  frontend/assets/styles/common.css
  frontend/assets/styles/folders.css
  frontend/dist/common.css
  frontend/dist/folders.css
Labels: area/frontend

Release v4.1.0-roflsunriz
  CHANGELOG.md
  README.md
  backend/config/config.php.example
  backend/routes/router.php
  backend/views/index.php
  docs/RELEASE_NOTES_v4.1.0-roflsunriz.md
Labels: area/config, area/frontend, area/documentation, area/security, area/release

画像のカバーを更新しました。新しいカバー画像に差し替え、ビジュアルを改善しました。
  image/cover.png
Labels: none

feat: アップロードフォームの拡張子ポリシー表示を改善
  backend/views/modals.php
Labels: area/frontend

Update README.md
  README.md
Labels: area/documentation

release.ymlの設定ファイルパスを修正
  .github/workflows/release.yml
Labels: area/ci

Update README.md
  README.md
Labels: area/documentation

Update README.md
  README.md
Labels: area/documentation

fix, feat: `dley`というタイポによってダウンロードキーが未設定になるバグを修正。DLキーが設定されている場合は管理者マスターキーでもダウンロードできるよう改良。
  backend/views/modals.php
  frontend/dist/drag-drop.js
  frontend/dist/file-manager.js
  frontend/dist/folder-manager.js
  frontend/dist/modal.js
  frontend/dist/resumable-upload.js
  frontend/dist/share.js
  frontend/src/components/file-manager-events.ts
  frontend/src/features/drag-drop.ts
  frontend/src/features/resumable-upload.ts
Labels: area/frontend

feat: 手動更新ボタンを設置
  frontend/dist/file-manager.js
  frontend/src/components/file-manager-core.ts
  frontend/src/components/file-manager-events.ts
  frontend/src/components/file-manager-renderer.ts
Labels: area/frontend

feat: 絵文字をマテリアルアイコンにマイグレーション
  backend/views/folder-navigation.php
  backend/views/icons.php
  backend/views/index.php
  backend/views/modals.php
  frontend/dist/bootstrap.js
  frontend/dist/drag-drop.js
  frontend/dist/error-handling.js
  frontend/dist/file-manager.js
  frontend/dist/folder-manager.js
  frontend/dist/resumable-upload.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/file-manager-renderer.ts
  frontend/src/features/drag-drop.ts
  frontend/src/features/folder-manager.ts
  frontend/src/utils/icons.ts
  frontend/src/utils/messages.ts
Labels: area/frontend

fix: ・共有リンクモーダルで「共有リンクを生成」ボタンを押しても表示が更新されないバグ ・ファイル編集モーダルのファイル差し替えタブで「差し替え」ボタンが非表示になっているバグ
  frontend/dist/file-edit.js
  frontend/src/features/file-edit.ts
Labels: area/frontend

fix: フォルダ移動処理において、親IDの存在確認をarray_key_existsを使用して厳密化し、nullを許容するように修正しました。これにより、移動先の親IDが未設定の場合でも適切に処理されるようになります。
  backend/api/folders.php
Labels: area/api

feat: アップロードモーダル内のフォーム余白をコンパクト化
  frontend/assets/styles/responsive.css
  frontend/dist/responsive.css
Labels: none

feat: コメント編集とファイル差し替えでも管理者マスターキーで操作できるよう改良
  backend/api/edit-comment.php
  backend/api/replace-file.php
  backend/views/modals.php
  frontend/dist/file-edit.js
  frontend/src/features/file-edit.ts
Labels: area/api, area/frontend

fix: リスト表示でボタンが動作しない不具合を修正
  frontend/dist/file-manager.js
  frontend/src/components/file-manager-events.ts
Labels: area/frontend

fix: 一括選択で「全解除ボタン」を削除して重複を回避
  frontend/dist/file-manager.js
  frontend/src/components/file-manager-events.ts
  frontend/src/components/file-manager-renderer.ts
Labels: area/frontend

feat: phpUploaderをv4.2.0にアップデートし、機能強化を実施
  CHANGELOG.md
  README.md
  backend/config/config.php.example
  backend/routes/router.php
  backend/services/system-api-handler.php
  backend/views/index.php
  docs/RELEASE_NOTES_v4.2.0-roflsunriz.md
  frontend/assets/styles/file-manager.css
  frontend/dist/file-manager-css.css
  frontend/dist/file-manager.js
  frontend/src/components/file-manager-renderer.ts
Labels: area/config, area/frontend, area/documentation, area/security, area/release

fix: アクションボタン色パレット変更
  frontend/assets/styles/file-manager.css
  frontend/dist/file-manager-css.css
Labels: none

fix: カバー画像を更新
  image/cover.png
Labels: none

fix: php.iniのmbstring.internal_encoding設定を非推奨に伴い削除
  infrastructure/docker/php/php.ini
Labels: area/docker

docs: README.mdにインストール手順と設定方法を追加
  README.md
Labels: area/documentation

.github/labeler.yml:

# 設定ファイル関連
"area/config":
  - backend/config/**/*
  - "config.php.example"

# API関連
"area/api":
  - backend/api/**/*

# UI/フロントエンド関連
"area/frontend":
  - backend/views/**/*
  - frontend/src/**/*
  - frontend/asset/**/*

# データベース関連
"area/database":
  - backend/models/**/*
  - db/**/*

# Docker関連
"area/docker":
  - infrastructure/docker/**/*
  - infrastructure/docker-compose.yaml
  - infrastructure/Dockerfile

# ドキュメント関連
"area/documentation":
  - "*.md"
  - docs/**/*

# CI/CD関連
"area/ci":
  - .github/**/*

# セキュリティ関連
"area/security":
  - backend/config/**/*
  - backend/api/verify*

# リリース関連
"area/release":
  - infrastructure/scripts/release.*
  - composer.json
  - CHANGELOG.md
